[Unit]
Description=A Cars API service
After=local-fs.target

[Service]
ExecStart=/usr/local/bin/cars_api.sh
StandardOutput=inherit
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

